<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="static/css/editor.css" type="text/css">
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
    <link rel="stylesheet" href="static/css/prism.css" type="text/css">
  

    <title>WASM Fiddle</title>
  </head>
  <body>
    <nav class="navbar navbar-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <!-- Will need to update this with the logo that Daniel made -->
          <img
            src="static/img/logo.svg"
            alt=""
            class="d-inline-block align-text-top"
          />
        </a>
        <h4>WASM Fiddle</h4>
      </div>
    </nav>
    <div class="container pt-2 pb-2">
      <div class="row">
        <div class="col-5">
          <!-- <input
            type="radio"
            class="btn-check mx-2"
            name="options"
            id="option1"
            autocomplete="off"
            checked
            value="c"
          />
          <label class="btn btn-secondary" for="option1">C</label> -->

          <input
            type="radio"
            class="btn-check mx-2"
            name="options"
            id="option2"
            autocomplete="off"
            checked
            value="cpp"
          />
          <label class="btn btn-secondary" for="option2">C / C++</label>

          <input
            type="radio"
            class="btn-check mx-2"
            name="options"
            id="option4"
            autocomplete="off"
            value="rust"
          />
          <label class="btn btn-secondary" for="option4">Rust</label>
        </div>
        <div class="col-2"></div>
        <div class="col-5">
          <p class="fs-3">Output</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row" id="code-output">
        <div class="col-5 code-editor line-numbers">
          <textarea id="editing" spellcheck="false"></textarea>
          <pre id="highlighting" aria-hidden="true"><code class="language-clike" id="highlighting-content"></code></pre>
        </div>
        <div class="col-2 pt-2 text-center">
          <button type="button" class="btn btn-lg btn-success" id="go-btn">Go!</button>
        </div>
        <div class="col-5">
          <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" tabindex=-1 style="display: none;"></canvas>
          <textarea id="output" rows="8" readonly></textarea>
          <!-- <pre id="output">This text is meant to be treated as sample output from a computer program.</pre> -->
        </div>
      </div>
      <div class="row">
        <div class="col-5 pt-0" id="embed">
          <button type="button" class="btn btn-info" id="btn-embed">Embed</button>
        </div>
      </div>
    </div>
    <p class="photo-credit">
      Photo Credit: 
      <a href="https://www.pexels.com/photo/brown-string-instrument-selective-focus-photography-165973/">Méline Waxx</a>
      & 
      <a href="https://www.pinterest.com/pin/581316264399850164/?d=t&mt=login">Pngtree</a>
    </p>


    <!-- This was spliced in from the output.html template -->
    <script type='text/javascript'>
      var Module = {
        preRun: [],
        postRun: [],
        print: (function() {
          var element = document.getElementById('output');
          if (element) element.value = ''; // clear browser cache
          return function(text) {
            if (arguments.length > 1) text = Array.prototype.slice.call(arguments).join(' ');
            // These replacements are necessary if you render to raw HTML
            //text = text.replace(/&/g, "&amp;");
            //text = text.replace(/</g, "&lt;");
            //text = text.replace(/>/g, "&gt;");
            //text = text.replace('\n', '<br>', 'g');
            console.log(text);
            if (element) {
              element.value += text + "\n";
              element.scrollTop = element.scrollHeight; // focus on bottom
            }
          };
        })(),
        printErr: function(text) {
          if (arguments.length > 1) text = Array.prototype.slice.call(arguments).join(' ');
          console.error(text);
        },
        canvas: (function() {
          var canvas = document.getElementById('canvas');

          // As a default initial behavior, pop up an alert when webgl context is lost. To make your
          // application robust, you may want to override this behavior before shipping!
          // See http://www.khronos.org/registry/webgl/specs/latest/1.0/#5.15.2
          canvas.addEventListener("webglcontextlost", function(e) { alert('WebGL context lost. You will need to reload the page.'); e.preventDefault(); }, false);

          return canvas;
        })(),
        setStatus: function(text) {
          if (!Module.setStatus.last) Module.setStatus.last = { time: Date.now(), text: '' };
          if (text === Module.setStatus.last.text) return;
          var m = text.match(/([^(]+)\((\d+(\.\d+)?)\/(\d+)\)/);
          var now = Date.now();
          if (m && now - Module.setStatus.last.time < 30) return; // if this is a progress update, skip it if too soon
          Module.setStatus.last.time = now;
          Module.setStatus.last.text = text;
        },
        totalDependencies: 0,
        monitorRunDependencies: function(left) {
          this.totalDependencies = Math.max(this.totalDependencies, left);
          Module.setStatus(left ? 'Preparing... (' + (this.totalDependencies-left) + '/' + this.totalDependencies + ')' : 'All downloads complete.');
        }
      };
      window.onerror = function(event) {
        // TODO: do not warn on ok events like simulating an infinite loop or exitStatus
        Module.setStatus('Exception thrown, see JavaScript console');
        Module.setStatus = function(text) {
          if (text) Module.printErr('[post-exception status] ' + text);
        };
      };
    </script>
    <script async class="wasmScript"></script>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js"></script>
    <script src="static/js/prism.js"></script>
    <script src="static/js/editor.js"></script>
    <script  src="static/js/script.js"></script>
     
  </body>
</html>